.bebas-neue-regular {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
}

.bodoni-moda-bodoni {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.custom-navbar-width {
  width: 100vw; /* Takes full viewport width */
  margin: 0 auto;
}

/* Remove the default focus outline and box-shadow */
.form-control:focus {
  box-shadow: none !important;
  outline: none !important;
  border: transparent 1px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;

  li {
    padding: 6px 0;

    a {
      position: relative;
      display: block;
      padding: 4px 0;
      font-family: Lato, sans-serif;
      color: #ecf0f1;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.5s;

      &::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: black;
        opacity: 0;
        transition: opacity 0.5s;
      }

      &:hover {
        opacity: 0.6;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }
}

.nav-icons {
  opacity: 0.75 !important;
}

.nav-icons:hover {
  cursor: pointer;
}
